body {
  background-color: white;
  color: black;
}

#admin-menu,#admin-container,#admin-title {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: fixed;
}

#admin-title {
  left: 0;
  top: 0;
  right: 0;
  bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  background-color: #5BA150;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 0px 3px 3px #008000;
}

#admin-menu,#admin-container {
  display: block;
  overflow: auto;
  top: 50px;
  bottom: 50px;
  border: 1px solid #5BA150;
  border-radius: none;
  color: #5BA150;
  background: white;
  box-shadow: none;
}

#admin-menu {
  left: 0;
  right: none;
  width: 200px;
  background-color: #5BA150;
}

#admin-menu fieldset {
  display: table;
  float: left;
  clear: both;
  width: 100%;
  border: none;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  color: yellow;
  font-size: 1em;
  margin: 10px 0 10px 0;
  padding: 5px 0;
  font-size: 10px;
  background-color: #5BA150;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

#admin-menu fieldset legend {
  color: yellow;
  border: 1px solid yellow;
  border-radius: 3px 3px 3px 3px;
  background-color: green;
  padding: 5px;
  margin: 0 0 0 10px;
  font-size: 1em;
}

#admin-menu ul {
  display: block;
  float: left;
  clear: both;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  font-family: sans-serif;
  background-color: #5BA150;
  color: yellow;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.5em;
  font-size: 1.2em;
}

#admin-menu ul li {
  width: 80%;
  border: 1px solid yellow;
  border-radius: 3px 3px 3px 3px;
  padding: 0;
  margin: 0 0 10px 5px;
  text-indent: 10px;
  color: yellow;
  box-shadow: 2px 2px 2px 2px #008000;
  background: -moz-linear-gradient(center top, #76BF6B, #3B8230) repeat scroll 0 0 #62AF56;
  border-color: #2D6324;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#admin-menu ul li a {
  width: 100%;
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#admin-container {
  left: 200px;
  right: 0;
  background-color: white;
  color: green;
  -webkit-box-shadow: -2px -2px 3px 0px rgba(76, 50, 50, 0.75);
  -moz-box-shadow: -2px -2px 3px 0px rgba(76, 50, 50, 0.75);
  box-shadow: -2px -2px 3px 0px rgba(76, 50, 50, 0.75);
  border-radius: 10px 0 0 0;
  overflow: auto;
  width: none;
}

#admin-container #content {
  border: none;
  border-radius: none;
}

#logout {
  background-color: #FFFF00;
  border: 3px solid #008000;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px #008000;
  clear: none;
  color: #5BA150;
  float: right;
  font-family: serif;
  font-size: 15px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  margin: 8px 3px;
  padding: 2px;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  border-radius: 9px;
}

.fancy.modal {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
  background: -webkit-linear-gradient(top, #fff, #ddd);
  background: -moz-linear-gradient(top, #fff, #ddd);
  background: linear-gradient(top, #fff, #ddd);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.fancy.show {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

h1 {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #008000;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

div.form,div.index,div.view,div.actions {
  position: absolute;
  width: none;
  height: none;
  top: 0;
  bottom: 0;
}

div.form,div.index,div.view {
  border: none;
  left: 0;
  right: 100px;
  width: auto;
  float: none;
}

div.form form fieldset legend, h2 {
  border-color: -moz-use-text-color -moz-use-text-color #008000;
  border-image: none;
  border-style: none none dotted;
  border-width: medium medium 1px;
  color: #008000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  height: 15px;
  line-height: 15px;
  padding: 3px 0;
  text-shadow: 2px 2px 3px #969696;
  width: 100%;
}

div.actions {
  background-color: #DCDCB3;
  border-bottom: 1px solid #008000;
  border-radius: 0 0 5px;
  border-right: 1px solid #008000;
  box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.75);
  margin: 0;
  padding: 4px;
  right: 0;
  width: 100px;
  left: none;
}

#splitter {
  position: fixed;
  left: 0; right: 0;
  top: none; bottom: 50px;
  height: 3px;
  border: none; margin: 0; padding: 0;
  background-color: black;
  color: black;
  cursor: ns-resize;
}

#admin-messages {
  display: block;
  position: fixed;
  left: 0; top: none; right: 0; bottom: 0;
  height: 47px;
  margin: 0;
  background-color: yellow;
  color: green;
  overflow: auto;
}

.cake-sql-log {
  color: black;
}
.cake-sql-log caption {
  color: black;
}